:root {
   --header-color: #00bbc9;
   --font-color: #00747c;
   --bg-color: #cacaca;
}

body {
   color: var(--font-color);
   font-size: 12px;
   font-family: Arial, serif;
   background-color: var(--bg-color);
   background-repeat: no-repeat;
   background-size: cover;
}
      
h1 {
   color: var(--header-color);
   position: absolute;
   right: 650px;
   text-align: center;
   font-size: 7rem;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
      
h2 {
   color: #00747c;
   position: absolute;
   top: 195px;
   right: 675px;
   font-size: 20px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

a:link {
   color: #202022;  
}   

a:visited {
   color: #202022;
}   

a:hover {
   color: #202022; 
}

.active {
   color: #202022; 
   background-color: #00bbc9;
}
nav a {
   float: right;
   padding: 0px 10px;
}
nav{
   position: absolute;
   right: 450px;
}
 button{
  font-size: 20px;
}
#fileUpload{
   position: absolute;
   font-size: large;
   background-color: #00bbc9;
   color: #202022;
   text-align: center;
   width: 800px;
   height: 550px;
   position: absolute;
   right: 75px;
   top: 245px;
}

#formdiv{
   color: #202022;
   width: 400px;
   background-color: #00bbc9;
   height: 400px;
   text-align: center;
   position: absolute;
   left: 100px;
   top: 250px;
   list-style-position: inside;
}
form{
   position: relative;
   top: 75px;
}
#uploadButt{
   width: 200px;
   font-size: 20px;
   text-align: center;
  
}
footer{
   position: absolute;
   bottom: 0px;
   left: 10px;
}
/*
code from
https://www.freecodecamp.org/news/how-to-create-an-image-gallery-with-css-grid-e0f0fd666a5c/
*/
.gallery {
   display: grid;
   grid-template-columns: auto auto auto auto;
   grid-template-rows: auto auto auto auto;
   grid-gap: 15px;
   flex-flow: row wrap;
   
}
.gallery__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.pics{
   height: 200px;
   width: 150px;
   position: relative;
   left: 5px;
}
footer{
   font-size: small;
}



