:root {
   --header-color: #00bbc9;
   --font-color: #00747c;
   --bg-color: #cacaca;
}
body {
   color: var(--font-color);
   font-size: 30px;
   font-family: Arial, serif;
   background-color: var(--bg-color);
   background-repeat: no-repeat;
   background-size: cover;
}
      
h1 {
   color: var(--header-color);
   position: absolute;

   right: 650px;
   text-align: center;
   font-size: 7rem;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
 }
      
 h2 {
   color: #00747c;
   position: absolute;
   top: 195px;
   right: 675px;
   font-size: 20px;
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a {
   text-decoration: none;
}
a:link {
   color: #202022;  
}   

a:visited {
   color: #202022;
}   

a:hover {
   color: #202022; 
}

.active {
   color: #202022; 
   background-color: #00bbc9;
}
nav a {
   float: right;
   padding: 0px 10px;
}
nav{
   position: absolute;
   right: 450px;
}
 button{
  font-size: 20px;
}
#default_videos {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows:  1fr 1fr 1fr 1fr;
   grid-gap: 10px;
   margin-bottom: 30px;
   width: 100%;
}
#default_videos  div {
   border: 1px solid gold;
   border-radius: 5px;
   margin:  20px;
   color: black;
   font-size: 10px;
   background: lightyellow;
   text-align: center;
}

#default_videos > .video0 {
   grid-row: 1 / span 4;
   grid-column: 1 / span 3;
   font-size: 30px;
   color: lightyellow;

}
.video0 iframe {
   width:  100%;
   height: 100%;
}
iframe {
   width:  100%;
}  
#container {
   font-size: 30px;
   text-align: center;
}
#videos {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows:  1fr 1fr 1fr 1fr;
   grid-gap: 10px;
   margin-bottom: 30px;
   width: 100%;
}
#videos > .video0 {
   grid-row: 1 / span 4;
   grid-column: 1 / span 3;
   font-size: 30px;
   color: lightyellow;
}
#videos  div {
   border: 1px solid gold;
   border-radius: 5px;
   margin:  20px;
   color: black;
   font-size: 10px;
   background: lightyellow;
   text-align: center;
}
.input-field {
   display: flex;
   flex-direction: row;
   align-items: center;
   text-align: center;
   align-content: center;
   gap: 10px;
   justify-content: center;
   color: coral
}
#searchquery {
   width: 200px;
   height: 30px;
}
#searchbtn {
   width: 100px;
   height: 36px;
}
#searchbtn:hover {
   background-color: lightyellow;
}
footer{
   position: absolute;
   bottom: 0px;
   right: 0px;
   font-size: small;
}
main{
   position: absolute;
   top: 300px;
}
.input-field{
   position: absolute;
   top:10px;
   right: 10px;
}